<br />
<br />
<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<hr />
  
  <tbody>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td><%= student.birthday %></td>
        <td><%= button_to student,method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-info-sign"></i> Show
            <% end %>        
        </td>
        <td><%= button_to edit_student_path(student), method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
            <% end %>
        </td>
        <td><%= button_to student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg" do %>
              <i class="glyphicon glyphicon-remove"></i> Destroy
            <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn btn-info btn-lg" href="students/new" role="button"><span class="glyphicon glyphicon-plus"></span> New student</a>