<br />
<br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>major:</strong>
  <%= @student.major? %>
</p>

<%= button_to edit_student_path(@student),method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
<%= button_to students_path, method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-triangle-left"></i> Back
<% end %>
