<br />
<br />
<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <hr />

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.lat %></td>
        <td><%= city.lon %></td>
        <td><%= button_to city,method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-info-sign"></i> Show
            <% end %>        
        </td>
        <td><%= button_to edit_city_path(city), method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
            <% end %>
        </td>
        <td><%= button_to city, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg" do %>
              <i class="glyphicon glyphicon-remove"></i> Destroy
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<td> <a class="btn btn-info btn-lg" href="cities/new" role="button"><span class="glyphicon glyphicon-plus"></span> New city</a> </td>


