<br />
<br />
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @city.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @city.lon %>
</p>

<p>
  <strong>Temperature:</strong>
  <%=  @forecasts[:temperature] %>
</p>

<p>
  <strong>Summary:</strong>
  <%=  @forecasts[:summary] %>
</p>

<p>
  <strong>WindSpeed:</strong>
  <%=  @forecasts[:windSpeed] %>
</p>

<%= button_to edit_city_path(@city),method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
<%= button_to cities_path, method: :get, class: 'btn btn-default btn-lg' do %>
              <i class="glyphicon glyphicon-triangle-left"></i> Back
<% end %>